* {
    margin: 0;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
}

.boxContainer {
    position: absolute;
    top: 0;
    min-height: 100%;
    width: 100vw;
    animation: collapse 1.5s linear;
    animation-fill-mode: forwards;
    z-index: 10;
}

.boxes {
    position: relative;
}

.box1,
.box2,
.box3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
}

.box1 {
    background-color: #F4BE1E;
    width: 100%;
    z-index: 2;
}

.box2 {
    background-color: black;
    width: 150%;
    z-index: 1;
}

.box3 {
    background-color: #F16943;
    width: 200%;
}


@keyframes collapse {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
        display: none;
    }
}