* {
    box-sizing: border-box;
}

.container {
    background-image: url('/src/assets/images/beehive1.png');
    /* background-image: url('/src/assets/images/blackhoneycomb.png'); */
    /* background-image: url('/src/assets/images/largeblackhoneycomb.png'); */
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    
}

.delete{
    position: absolute;
}

/* ----------------sideBar------------------ */
.sidebar{
    display: flex;
    flex-direction: column;
    padding: 5px;
    max-height: 100vh;
    grid-column: 1;
    grid-row: 1 / 3;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.8);
    border-right: 2px solid black;
}

/* ----------------Top pfofile------------------ */

/* contains profile picture and username */
.userInfo{
    grid-column: 2 / 4;
    grid-row: 1;
    text-align: center;
}

.container img {
    margin: auto;
    width: 50%;
    height: 50%;
} 

/* name bio with edit and delete buttons */
.userBio{
    grid-column: 4 / 6;
    grid-row: 1;
    min-width: 40vw;
    max-width: 50vw;
    min-height: 322px;
}

.popup {
    position: absolute;
    background-color: #f9f9f9;
    border:2px solid black;
    min-width: 120px;
} 

/* ----------------Bottom pfofile------------------ */

/* contains all user post if any */
.userPost{  /* userPost is the post section*/
    grid-column: 2 / 6;
    grid-row: 2;
    border-top: 2px solid black;
    max-height: 62vh;
    min-width: 600px;
    overflow-y: scroll;
}

.postContainer{
    min-height: 300px;
    max-height: 360px;
    min-width: 350px;   
    max-width: 350px;  
    aspect-ratio: 1/1;
}

.image{
    max-width: 40%;
    max-height: 40%;
    border: 2px solid #F4BE1E;
}