* {
    box-sizing: border-box;
    
}

.container {
    max-height: 100vh;
    width: 100%;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    
}
/* ----------------sideBar------------------ */
.sidebar{
    display: flex;
    flex-direction: column;
    padding: 5px;
    max-height: 100vh;
    grid-column: 1;
    grid-row: 1 / 3;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.8);
    border-right: 2px solid black;
}

/* ----------------Top pfofile------------------ */

/* contains profile picture and username */
.userInfo{
    grid-column: 2 / 4;
    grid-row: 1;
    margin: auto;
    text-align: center;
}

.container img {
    margin: auto;
    width: 50%;
    height: 50%;
} 

/* name bio with edit and delete buttons */
.userBio{
    grid-column: 4 / 6;
    grid-row: 1;
    margin: auto 0;
    min-width: 70vh;
    > div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* ----------------Bottom pfofile------------------ */

/* contains all user post if any */
.userPost{  /* userPost is the post section*/
    grid-column: 2 / 6;
    grid-row: 2;
    border: 2px solid black;
    max-height: 62vh;
    overflow-y: scroll;
}

.postContainer{
    min-height: 250px;
    max-height: 400px;
    overflow: hidden;
    aspect-ratio: 1/1;
}

.userPost>*{
    flex: 1 1;
}

.image{
    max-width: 40%;
    max-height: 40%;
    border: 2px solid black;
}