.contianer{
    display: flex;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.pictureFrame{
    display: flex;
}

.picture{
    background-size: cover;
    width: 30%;
    aspect-ratio: 1/1;
    margin: auto;
    border-radius: 50%;
}

/* set backgroud as you select image */
.picture:has(.d1:checked){
    background-image: url('/src/assets/images/default%20icon%201.png');
    content-visibility: hidden;
}

.picture:has(.d2:checked){
    background-image: url('/src/assets/images/default%20icon%202.png');
    content-visibility: hidden;
}

.picture:has(.d3:checked){
    background-image: url('/src/assets/images/default%20icon%203.png');
    content-visibility: hidden;
}